.cover {
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  height: 1px;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 200px;
  }
}

