.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 0 32px;
  padding: 0;
}

@media screen and (max-width: 525px) {
  .cover__title {
    max-width: 300px;
    font-size: 42px;
    line-height: 45px;
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 240px;
    font-size: 32px;
    line-height: 35px;
  }
}
